.hover {
    background: rgba(0, 0, 0, 0);
    width: 10%;
    height: 3.33%;
    position: absolute;
}

.dragSection {
    background: #000;
    width: 16%;
    height: 20%;
    align-content: center;
}