$backgroudColor: #1875e7;
$asideBackgroundColor: #7E9582;
$chessBackgroundColor: #8D8E6A;
$btnNegoBackgroundColor: #B8C7C9;

#wrap {
    padding-top: 55%;
    width: 61%;
    box-sizing: border-box;
    min-width: 643px;
    max-width: 767px;
    min-height: 580px;
    max-height: 691px;
    // width: 767px;
    // height: 691px;    
    background-color: $backgroudColor;
    position: relative;
    margin: 0 auto;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#aside {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $asideBackgroundColor;
}
#table {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $chessBackgroundColor;
}
// .btn {
//     cursor: pointer;
//     font-size: 14px;
//     font-weight: normal;
//     text-align: center;
//     vertical-align: middle;
//     padding: 6px 12px;
//     white-space: nowrap;
//     display: inline-block;
//     border: 1px solid transparent;
// }
// .btn-nego {
//     width: 40%;
//     color: #333;
//     background-color: $btnNegoBackgroundColor;
//     padding: 6px 16px;
//     font-size: 18px;
//     line-height: 1.3333333;
//     border-radius: 6px;
//     margin-top: 6px;
//     margin-bottom: 6px;
// }
#row-top {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
}
.btn {
    padding: 6px 12px;
    color: #333;
    background-color: $btnNegoBackgroundColor;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 5%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 5%;
    border-color: #eea236;
}
.btn-nego {
    background-color: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 4px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 4px 4px 1px #111111;

}
#time-steps {
    width: 50%;
    height: 90%;
    max-height: 80px;
    padding: 2px;
    float: right;
    background-color: #B8C7C9;
    border: 1px solid transparent;
    border-color: #eea236;  
    border-radius: 5%;  
}
.time-step {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 12px;
    background-color: #B8C7C9;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0 auto;
    overflow: auto;
}
.chesses {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    height: 10%;
    background-color: $btnNegoBackgroundColor;
    margin: 5% auto;
}
#dialog {
    height: 50%;
    width: 90%;
    margin: 0 auto;
    background-color: $btnNegoBackgroundColor;
}
#mask {
    height: 100%; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;
}
.hidden {
    display: none;
}
#mask-table {
    height: 190px;
    width: 320px;
    background-color: #fff;
    margin: 150px auto;
    position: relative;
    border-radius: 5%;
}
.mask-btn{
    background-color: #0f88eb;
    color: #fff;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin: 0 10%;
}
#btn-warpper {
    width: 200px;
    margin: 0 auto;
}
.mask-btn:hover{
    opacity: 0.8;
}
#mask-content {
    width: 80%;
    height: 50%;
    margin: 10% auto;
    overflow: hidden;
}
#mask-content p{
    display: block;
    margin: 50px auto;
    text-align: center;
}