$backgroudColor: #1875e7;
$asideBackgroundColor: #FFE14E;
$chessBackgroundColor: #4AAD1E;
$btnNegoBackgroundColor: #ECECEB;

#wrap {
    padding-top: 55%;
    width: 61%;
    box-sizing: border-box;
    min-width: 643px;
    max-width: 767px;
    min-height: 580px;
    max-height: 691px;
    background-color: $backgroudColor;
    position: relative;
    margin: 0 auto;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#aside {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $asideBackgroundColor;
}
#table {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $chessBackgroundColor;
}
// .btn {
//     cursor: pointer;
//     font-size: 14px;
//     font-weight: normal;
//     text-align: center;
//     vertical-align: middle;
//     padding: 6px 12px;
//     white-space: nowrap;
//     display: inline-block;
//     border: 1px solid transparent;
// }
// .btn-nego {
//     width: 40%;
//     color: #333;
//     background-color: $btnNegoBackgroundColor;
//     padding: 6px 16px;
//     font-size: 18px;
//     line-height: 1.3333333;
//     border-radius: 6px;
//     margin-top: 6px;
//     margin-bottom: 6px;
// }
#row-top {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
}
.btn {
    padding: 6px 12px;
    color: #333;
    background-color: $btnNegoBackgroundColor;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 5%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 5%;
    border-color: #eea236;
}
#time-steps {
    width: 50%;
    height: 90%;
    max-height: 80px;
    float: right;
    background-color: $btnNegoBackgroundColor;
    border: 1px solid transparent;
    border-color: #eea236;    
}
.time-step {
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 12px;
    background-color: $btnNegoBackgroundColor;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid transparent;
    margin: 0 auto;
    overflow: auto;
}
.chesses {
    width: 92%;
    height: 10%;
    background-color: $btnNegoBackgroundColor;
    margin: 5% auto;
}
#dialog {
    height: 50%;
    width: 90%;
    margin: 0 auto;
    background-color: $btnNegoBackgroundColor;
}
